<!DOCTYPE html>
<html>
<head>
  <title>Personal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!DOCTYPE html>
  <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Docs</title>

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="=prettify.css" rel="stylesheet">

    <!-- Custom styles CSS -->
    <link href="=style.css" rel="stylesheet" media="screen">


</head>
<body>

<%= yield %>

</body>
</html>
